[2017-02-02 23:51] MikeKSmith opened #1 "Use ggedit to change plot layers and themes"
The ggedit package from Metrum RG (on GitHub) may be useful to control plot layers and themes once the main aesthetics of the plots have been defined.

[2017-02-03 10:06] MikeKSmith commented on #1
Might also want to look at ggthemeassist (https://github.com/calligross/ggthemeassist)

[2017-03-06 14:15] guiastrennec commented on #1
Thanks for the suggestion I will look into those. They look like a great addition for a shiny app

[2017-04-27 08:52] MikeKSmith opened #2 "Handling multiple $PROB within a single run"
How should we handle multiple $PROB problems with xpose? Each could potentially have $TABLE statements producing output which could be handled by xpose.

[2017-04-27 09:44] guiastrennec opened #3 "Handling plots with multiple pages"
Find a nice way to handle multiple pages while keeping a ggplot2 object

[2017-05-08 13:29] #2 closed

[2017-05-11 20:50] guiastrennec opened #4 "Fix issues with new version of purrr"
`by_row`, `by_slice` and `slice_rows`just got depreciated from purrr. They should be replaced by `nest()`, and `pmap()`.

[2017-05-20 07:08] #4 closed

[2017-07-13 14:05] sebastianueckert opened #8 "Column names for NM files"
I noticed that the NM files (.ext, .phi) have column names that correspond to the format you would get when reading a file with read.table (instead of readr). So for an .ext file the header in the xpdb is
`SIGMA.1.1.   OMEGA.1.1.  OMEGA.2.1.   OMEGA.2.2.  OMEGA.3.1.  OMEGA.3.2.`
rather than
``SIGMA(1,1)` `OMEGA(1,1)` `OMEGA(2,1)` `OMEGA(2,2)` `OMEGA(3,1)` `OMEGA(3,2)``
First, I thought this is a b

[2017-07-14 17:20] guiastrennec commented on #8
Good catch Seb.

This behavior is due to the implementation of a work around an issue with NSE which interprets OMEGA(..) or SIGMA() column names as functions and return error. Hence for consistency I will adopt the OMEGA.X.Y. notation for the files.

[2017-07-14 18:02] sebastianueckert commented on #8
Thanks Ben. Is that still relevant with rlang?

[2017-07-14 20:51] guiastrennec commented on #8
I am afraid so but I will try it out.

[2017-07-18 09:28] MikeKSmith opened #9 ""dir" argument ignored in read_nm_model if "file" is specified"
When specifying both `dir` and `file` in read_nm_model (and in xpose_data), the `dir` argument seems to be ignored in line 52: `model <- readr::read_lines(file)`.

So when the user specifies:
`xpose_data(dir="./inst/extdata/", file="run001.lst")`
we get the error:
`Error: File run001.lst not found.`

[2017-07-18 13:14] sebastianueckert commented on #9
The way the `dir` argument appears to be intended is for looking up models based on the runno, e.g.,
`xpose_data(1,dir="my_dir")`
would look for run1.lst in the directory my_dir.
The `file` argument, on the other hand, is expected to be a full path, i.e.,
`xpose_data(file='my_dir/run1.lst')`
Do you think this should behave differently?

[2017-07-18 15:50] MikeKSmith commented on #9
It's confusing as it is just now... I would suggest:
runno + (dir==NULL) = local run NN.
runno + dir = lookup run NN in directory "dir"
file + (dir==NULL) = file is full path file name
file + dir = file is file.path(dir, file)

[2017-07-20 09:59] MikeKSmith opened #10 "summary(xpdb) doesn't report fully if file is control stream?"
When using xpose_data with a NONMEM control stream, xpose_data doesn't seem to pick up and read any associated NONMEM output (.lst) file. So summary(xpdb) provides only minimal information. Is this expected behaviour? xpose_data / read_nm_model identifies the correct table files and .ext etc. but doesn't appear to parse the output file for use in summary(...).

When calling xpose_data using runno

[2017-07-20 11:39] guiastrennec commented on #10
This is the expected behavior. We have made the decision to constrain the xpose summary to the file provided in `xpose_data`, and hence the summary is more extensive when an .lst file is provided (default). This decision was taken based on the facts that:
* output files are not necessarily named .lst
* And that the name of the .lst and .mod are not necessarily the same if not generated with psn

*

[2017-07-20 11:44] guiastrennec commented on #9
I can see your point Mike but wouldn't this somehow make the runno, ext and prefix argument redundant with file? Note that the file argument was added for scripting by providing a full path directly to a function.

Please advise on whether we should:
1. Rename the file argument to string/path?
2. Implement the change suggested by Mike?

[2017-07-20 19:57] sebastianueckert commented on #9
I don't think it makes 'file' redundant. If I understand well, then Mike's suggestion would only change the current behavior for file + dir, or? If so, then I think we could make this change, it is, in my opinion, quite logical.
(Renaming to path is fine by me too, but I don't love string)

[2017-07-20 20:16] sebastianueckert commented on #8
I can't let this go that quickly ;-) ...
What exactly do you mean by issues? I made a quick check and

    xpdb %>% filter(`SIGMA(1,1)`>1, .source="ext")

works (after removing the regex replace). Also, the only errors I get when running the tests seem to be associated with a mismatch with the expected output.

[2017-07-20 20:47] guiastrennec commented on #8
I think the issues were related to different dplyr version (<0.6 and >= 0.6) (but I need to check to be sure) and how do you send `SIGMA(1,1)` in a non interactive session?

[2017-07-21 02:35] dpastoor commented on #9
I will +1 mike's logic to be similar to my expectation. file + dir = under the hood  file.path(dir, file). Also makes it easier to wrap

[code]

[2017-07-21 04:46] sebastianueckert commented on #8
You could do

    param<-'SIGMA(1,1)'
    xpdb %>% filter(!!param>1, .source="ext")

(this actually works if you have the latest version of dplyr)

[2017-07-21 09:02] MikeKSmith commented on #9
Thanks for clarifying Devin, Sebastian - you're right that I was simply thinking that if the user supplies **both** file and dir then I'd assume that this would then create file.path(dir, file).

[2017-07-21 09:08] #10 closed

[2017-07-25 09:16] guiastrennec commented on #8
I ran some tests under different dplyr versions and indeed with `dplyr` versions ≤0.6 a column of the type `SIGMA(1,1)` is interpreted as a function in the `mutate_if()` and returns an error. More info about it can be found here: https://github.com/tidyverse/dplyr/issues/2243

I have changed the minimal `dplyr` version and removed the column conversion.

[2017-07-25 09:16] #8 closed

[2017-08-10 13:38] kestrel99 opened #18 "*_distrib plots do not show density correctly"
When requesting density (type="hdr") for `eta_distrib`, `res_distrib`, `prm_distrib`, and `cov_distrib`, density overlay is on the wrong scale (very small).

[2017-08-10 13:41] kestrel99 opened #19 "Enhancement: line of identity"
The line of identity is currently grey by default, which makes it hard to see against the data, which are also grey by default. Suggest the default be changed to another colour, like red or blue.

[2017-08-10 13:54] kestrel99 opened #20 "Missing output tables (gradients) not handled cleanly"
If *.grd tables are missing they are not read in. However, the `prm_vs_iteration` and `grd_vs_iteration` functions do not check to see whether this data has been loaded and fail without an appropriate message if it is missing.

[2017-08-18 10:11] guiastrennec commented on #19
I can darken the unity line a bit in the default theme. However in `theme_xp_default()` points are black and the unity line is light blue. Feel free to add more xpose themes !

[2017-08-18 10:11] #19 closed

[2017-08-18 10:15] guiastrennec commented on #18
#21

[2017-08-18 10:15] #18 closed

[2017-08-18 10:33] guiastrennec commented on #19
After some more thoughts I have changed the unity line to a thiner but black line that now lays on top of points an line to remain visible (#23). It looks like this:

![identity_line](https://user-images.githubusercontent.com/7304883/29455363-3503bec6-8411-11e7-9c98-d6c5a69452fd.png)

[2017-08-23 20:39] guiastrennec commented on #9
Feature added in #24

[2017-08-23 20:39] #9 closed

[2017-08-23 20:41] guiastrennec commented on #19
After many tests I came to the conclusion that your suggestion was better and I have updated the theme with a red unity line #24

[2017-08-27 00:11] guiastrennec commented on #20
Should be fixed with #26. Please reopen if you feel that more specific checks are needed.

[2017-08-27 00:11] #20 closed

[2017-09-22 21:03] #3 closed

[2017-09-28 11:40] sebastianueckert opened #40 "Use geom_point for ind_plots if subject has only one obs"
PRED and IPRED in an individual plot do not show for subjects that have only one observation as geom_line doesn't draw anything. It could be good to switch to geom_point for those cases or implement a custom geometry.

[2017-10-04 10:42] MikeKSmith opened #42 "Multi-page graphs show all pages by default"
I would suggest that perhaps multi-page graphs e.g. ind_plots show all pages by default rather than the last page. Setting page = 1:n is fine up to a point, but you need to go to the Help pages to find out how.

[2017-10-11 22:29] guiastrennec commented on #42
Pro: it is more logical to have all pages plotted
Cons: it might get really slow with many pages or complex graphs due to ggplot2

Implemented in #43

[2017-10-11 22:29] #42 closed

[2017-10-14 22:33] guiastrennec commented on #40
This is also a problem in VPC with lloq and uloq it can happen that only a single point surrounded by NA values is not shown. I will look into finding a fix. Maybe we could always have small dots along with lines?

[2017-10-19 10:27] guiastrennec opened #54 "`dplyr::n()` does not work when editing xpdb with dplyr verbs"
When editing an xpdb, `dplyr::n()` fails to return the proper number of rows of the actual dataset.
[code]

As temporary workaround one could use something like:
[code]

Any suggestions on how to implement `dplyr::n()` in xpose are welcome

[2017-10-25 07:49] sebastianueckert opened #57 "Warning messages despite quite=T"
Hi Ben,

When loading output from a model that does not have tables, I get a warning even though I am using quite=T. Is this intended behavior?

Seb

[2017-10-25 08:37] guiastrennec commented on #57
Hi Seb,

Yes, this is the intended behavior. `quiet = TRUE` acts on messages only. Warnings are more important and hence should not be easily silenced. If you want to suppress the warnings anyway you can use `options(warn=-1)` to suppress them globally (not recommended) or wrap the function you want to silence with `suppressWarnings()`. In rmarkdown you can also set the chunk option `warning=FALSE

[2017-10-25 08:37] #57 closed

[2017-10-25 13:44] smouksassi commented on #54
Dear Benjamin,
Great to see xpose in a modern format !
the xpdb_ex_pk is whole xp database I could not run the code above meaningfully.

[2017-10-25 16:36] guiastrennec commented on #54
Dear Samer,

You are correct the `xpdb_ex_pk` is a full xpose database which comes with the package to exemplify the way the different functions work. In this new version of xpose we added methods for the most common dplyr verbs i.e. `filter()`, `slice()`, `distinct()`, `mutate()`, `select()`, `rename()`, `group_by()`, `ungroup()` and `summarize()`. Hence, you can use any of these function to modi

[2017-10-25 19:02] sebastianueckert commented on #54
Hi Ben,

Back to your original issue. I just made a commit that hopefully fixes the problem. I think the cause was a scoping issue which led to the creation of the `n()` function in `xpdb$data`. So if the xpdb had 2 tables `n()` would always return 2. I just moved the call to the dplyr function outside of mutate and now it appears to work.

Seb

[2017-10-25 20:10] guiastrennec commented on #54
Awesome thank you very much for finding the fix, I will check it out ASAP, you can go ahead with the PR. Do you mind updating the version to in the DESCRIPTION to 0.3.1? We also need to apply the same method to the `xpdb[['data']]$files` and `xpdb[['data']]$special` in `edit_xpose_data()`, but I can help you with that.

[2017-10-26 07:56] sebastianueckert commented on #54
Don't worry, I can do these fixes.

[2017-10-26 08:20] sebastianueckert commented on #54
Alright, implemented the same fix for files and special. I am just wondering if we need this functionality for special? In my opinion, special is a storage space for post-processing output, at the moment there is only vpc but there will be others in the future, so we would always need to adapt the code (which is cumbersome). At the same time, it is actually not obvious for a user to understand wha

[2017-10-26 08:27] guiastrennec commented on #54
Great thanks again for the help. We can talk about the edits to special F2F. We may have to reorganize the code to have dedicated function for each type of special dataset (i.e. VPC, bootstrap, scm, etc.) but I think it is needed e.g. for VPC if you want to change the panels labels or if you want to drop one of the strata you need this type of edits.

[2017-10-29 17:11] #54 closed

[2017-11-20 19:13] dpastoor opened #73 "licensing"
Rather than pollute the other PR I think this discussion can be moved here.

The point is we can call the license a LGPL license, however the hard dependencies on ggplot2/ggforce and many of the other packages across the ecosystem are going to end up causing this to reasonably fall under GPL license rather than LGPL.

This is somewhat of a silly discussion in the R ecosystem, as the source code is

[2017-11-21 14:47] walsu opened #74 "Last page of individual plots"
When I try to make individual plots, 'nrow' and 'ncol' are changed based on the remains of individuals.
For example, if I make an individual plot for 29 subjects with ncol=3 and nrow=3, last page of individual plot is ncol=2, nrow=1. I just want to make a plot for the last page as same with previous page  (ncol=3, nrow=3). Can I control this situation?

I used following script.

xpdb <- xpose_data

[2017-11-22 10:01] guiastrennec commented on #74
This is the unfortunately the expected behavior of `ggforce::facet_wrap_paginate()` and `ggforce::facet_grid_paginate()`. You could post an issue on [ggforce](https://github.com/thomasp85/ggforce/issues)

[2017-11-22 10:01] #74 closed

[2017-11-22 12:11] guiastrennec commented on #73
@ronkeizer you used the MIT license in your `vpc` package and you also have a dependency on `ggplot2` do you have any experience on the way this works?

[2017-11-22 12:46] guiastrennec commented on #73
Check out the following: https://www.r-project.org/Licenses/

Looking at this, the `base` R package is licensed under GPL-2 | GPL-3. However, less restrictive MIT and LGPL license are on their website as possible licenses for packages ([here](https://cran.r-project.org/web/licenses/)). I seems that there is a big grey area around this...

[2017-11-22 12:58] dpastoor commented on #73
Its a SUPER grey area - thats why I say realistically the chance of someone coming after you is very small - but here are other findings I've accumulated over time trying to deal with this:

1) From the FSF foundation:

http://www.gnu.org/licenses/gpl-faq.html#AllCompatibility

You can see under "I want to license my code as LGPL and use a GPL library" the resulting license is GPL.

From the GPL F

[2017-11-22 16:13] ronkeizer commented on #73
What Devin said. It's a bit backward within R community, many packages are still using GPL (probably because default) while the rest of the world has moved on. I prefer to ignore the potential issue and use MIT, like dplyr and jsonlite do as well, since I don't see the point of being so restrictive.

[2017-11-26 10:00] kestrel99 opened #75 "ETA distributions in nlmixr"
Hi,

I'm having an issue with plotting ETAs generated by nlmixr using `eta_distrib`:
[code]
There are 3 ETAs in the model, and input to the function is an Xpose data object created using the `xpose_data_nlmixr` function in [xpose.nlmixr](https://github.com/nlmixrdevelopment/xpose.nlmixr). The whole example can be recreated using the example code at [https://github.com/nlmixrdevelopment/nlmixr/blob

[2017-12-05 15:49] BasSCG opened #76 "kbVHC diagnostic for RTTE models"
If xpose would also cover diagnostics for TTE models, the implementation of the kbVHC, a simulation-free diagnostic for RTTE models, might be of interest. https://link.springer.com/article/10.1208/s12248-017-0162-9

[2017-12-06 12:56] guiastrennec commented on #75
The problem comes from the post processing function given to fetch_data. This function is in charge of nicely formatting and ordering the ETAs from NONMEM runs. I will add a fix on the dev branch now.

Also, I was playing around a bit with the nlmixr xpdb, good job with it seems to work nicely. In the future,  I will aim to improve the integration of additional tools as I realized it may have in s

[2017-12-06 12:57] #73 closed

[2017-12-06 13:49] guiastrennec commented on #75
Fixed in #77

[2017-12-06 13:49] #75 closed

[2017-12-08 16:52] kestrel99 commented on #75
`eta_distrib()` still does not appear to be working...

[code]

[2017-12-09 17:03] guiastrennec commented on #75
@kestrel99 the fix is working for me using the file you sent me. Please make sure the you used the **dev branch** of xpose when you updated i.e. `devtools::install_github('UUPharmacometrics/xpose@dev')`. I have changed the version to from 0.4.0  to 0.4.1 to make it easier for you to check it you got the latest update.

[2017-12-24 14:59] krlmlr opened #80 "Avoid testing tibble output verbatim"
xpose seems to be testing tibble output verbatim. The output has changed in the upcoming version 1.4.1. Could you please make sure that you only test output that is fully under your control?

https://github.com/tidyverse/tibble/blob/r-1.4.1/revdep/problems.md#xpose

[2017-12-24 15:27] guiastrennec commented on #80
Thank you very much for the heads up @krlmlr, I will fix these tests ASAP.

[2017-12-28 14:05] guiastrennec commented on #80
Fixed in #82

[2017-12-28 14:05] #80 closed

[2018-01-02 18:20] stephengreene opened #84 "Summary Creation Fail"
The majority of my runs create the following error:  Failed to create run summary. Evaluation error: invalid format '%02d'; use format %f, %e, %g or %a for numeric objects.

Initially I thought it was because I was specifying the format of my output tables in the NM control stream. I removed these specifications and it seemed to rectify the issue until my next run when the same error occurred with

[2018-01-02 20:01] guiastrennec commented on #84
Would it be possible for you to send me one of your .lst file that creates the error so that I can take a look at the problem?

[2018-01-02 21:16] stephengreene commented on #84
Sure thing. Attached here are two .lst files. One has the format specifications and one does not.

Let me know if you need anything else. Thanks!

[RUN1_copy.txt](https://github.com/UUPharmacometrics/xpose/files/1598715/RUN1_copy.txt)

[RUN2_copy.txt](https://github.com/UUPharmacometrics/xpose/files/1598712/RUN2_copy.txt)

[2018-01-03 19:53] stephengreene commented on #84
I think we found the issue. A colleague of mine discovered that if the $COV step failed and did not give an estimate of the time, the run summary would fail also. Might be worthwhile to update xpose to account for times when the $COV step fails to produce an estimation of time elapsed. Let me know your thoughts. Thanks!

[2018-01-03 20:32] guiastrennec commented on #84
I had fixed the issue thanks to your lst files but did not get the chance to make the pull request. It was indeed a covariance step fail with time reported as `*******`. I have uploaded the fix (#85) on the dev branch you can test it out with:
`devtools::install_github('UUPharmacometrics/xpose@dev')`

You can reopen the issue if the problem persists

[2018-01-03 20:32] #84 closed

[2018-01-03 20:49] stephengreene commented on #84
Tried it with the devtools package and the problem is persisting. For now I'll just remove the line.

[2018-01-03 22:09] guiastrennec commented on #84
It is working for me with the file you sent. Make sure that you have xpose 0.4.1 installed. If the command above does not work you can also attempt to install it from my fork using the command:
`devtools::install_github('guiastrennec/xpose)`

[2018-01-29 14:05] MikeKSmith opened #87 "get_prm fails to read .ext file when BLOCK matrices are used in OMEGA"
For Moxonidine example where there is a BLOCK(2) on CL and V the .ext file has the full OMEGA matrix, but apart from the CL, V block there are no other named OMEGAs in the control stream.
`get_prm` fails due to the number of named OMEGA items not being matched by the number of columns of OMEGA reported in the .ext file.  Could we apply heuristics e.g. if OMEGA(x,y) estimate = 0 then ignore this co

[2018-01-30 21:30] guiastrennec commented on #87
Thanks for pointing this out, I always wrote my `OMEGA BLOCK` in the matrix form i.e.
[code]

But if this compatible with NONMEM it should be supported by xpose as well. I have added it to my to do list and will do my best to implement it this as soon as I find the time to do so.

[2018-02-01 19:22] stephengreene opened #88 "Failure to create run summary using NONMEM 7.4"
Hello,

I have run the same model (IV 1-CMT) on NM v 7.3 and 7.4. The run summary can be created with v 7.3 but when using v 7.4 I get the following error:

Failed to create run summary. Evaluation error: 'str_trunc' is not an exported object from 'namespace:stringr'.

Possible compatibility issue with v 7.4?

I'm attaching my output file for your review.
[run1.txt](https://github.com/UUPharmacome

[2018-02-01 20:00] guiastrennec commented on #88
Hi,

Thank you for your post. I am not able to reproduce your error with my install. Could you please send me a copy of your `sessionInfo()`?

I am guessing you may have an old version of stringr that could be the cause.

[2018-02-01 21:38] stephengreene commented on #88
That was the issue. I was working under the assumption that the two versions of R were the same when in fact they were not. Thanks for your help!

[2018-02-01 22:07] guiastrennec commented on #88
Great glad I could help. I will close the issue then.

[2018-02-01 22:07] #88 closed

[2018-02-14 20:05] mct941 opened #91 "labels not carried in multipanel plot"
The labels are populated in the individual figure, but when the plots are combined together, only the templated text is presented.  Example code below:

xpdb <- xpose_data(dir=projpath,runno=runno)
p1 <- dv_vs_pred(xpdb)
p2 <- dv_vs_ipred(xpdb)
p3 <- res_vs_idv(xpdb)
p4 <- res_vs_pred(xpdb)

library(gridExtra)
grid.arrange(p1,p2,p3,p4, nrow=2)

[2018-02-14 20:36] guiastrennec commented on #91
I am aware of this issue, template titles are not "yet" supported by gridExtra. You go around this issue if you use the ggplot2 function [annotation_custom](http://ggplot2.tidyverse.org/reference/annotation_custom.html). You can see an example of its use [here](https://stackoverflow.com/questions/35631889/ggplot2-align-multiple-plots-with-varying-spacings-and-add-arrows-between-them).

Hope it hel

[2018-02-15 20:44] mct941 commented on #91
ok thanks for the workaround.

[2018-02-15 20:44] #91 closed

[2018-04-11 17:28] mattfidler opened #92 "vpc no longer required? vpc as a s3 method?"
Hi,

I was trying to see where the vpc package is used?  Is it no longer used?  If so, it can be dropped as a dependency.

Also, I was wondering if you wouldn't mind making the `vpc` a s3-compatible object.  This way in `nlmixr` I can import your excellent package and then do a vpc simulation on a simple fit object without having to worry about the `vpc` conflict in etiher `xpose` or `vpc` package

[2018-04-11 17:33] guiastrennec commented on #92
Hello Matt,

* The vpc package is used by the [`vpc_data()`](https://uupharmacometrics.github.io/xpose/reference/vpc_data.html) function of xpose.
* Moving xpose toward a full s3 approach is a top priority on my todo list. I am unhappy with the my current implementation and when time allows me I will work toward this to facilitate 3rd party integrations such as `nlmixr`, `monolix` and `phoenix nlm

[2018-04-11 17:36] mattfidler commented on #92
I could submit a pull request for the s3 method of `vpc`.  It is simple enough.  Ron already merged my pull request for a s3 `vpc` method so all 3 packages would be aligned.

[2018-04-11 17:37] guiastrennec commented on #92
That would be great. Thanks!

[2018-04-13 16:43] mattfidler commented on #92
I will submit something once https://github.com/ronkeizer/vpc/issues/46 is resolved.

[2018-04-13 19:59] guiastrennec commented on #92
No worries, I will be afk next week anyway :-)

[2018-04-19 09:58] kestrel99 opened #93 "Keywords do not display correctly when multiple graphs are arranged within a single plot"
When arranging multiple `xpose` plots in a single figure, e.g. using `gridExtra::grid.arrange`, the keywords in the titles subtitles and annotations stop working correctly - e.g. title displays as **@y vs. @x | @run** instead of the actual values.

Is there a workaround for this?

[2018-04-19 09:59] kestrel99 commented on #93
Never mind, asked and answered in #91

[2018-04-19 09:59] #93 closed

[2018-04-19 10:36] kestrel99 commented on #91
`annotation_custom` is quite cumbersome to use. Do you think it would be possible to add a keyword-aware multiplot wrapper to xpose?

[2018-04-23 19:52] guiastrennec commented on #91
I can't promise anything but I will check if it is possible when I get some time to work on xpose.

[2018-05-04 21:24] mattfidler opened #95 "Access by `::` seems to not work the same as direct access"
Hi @guiastrennec

Again, thanks for the package.  I wanted to point out some strange inconsistency when looking at `nlmixr`'s use of `xpose`

It is probably reproducable with other examples, but I will use nlmixr
[code]

Then `xpose.nlmixr` creates the `xpose` object:

[code]

With `::` access I get:

[code]

However, with direct access everything is OK:
[code]

[2018-05-04 21:26] mattfidler commented on #40
My solution in the past was to subset to individuals with one observation and plot that dataset with points.
 (FYI)

[2018-05-15 06:23] lindauer1980 opened #96 "Issue with reading sdtab of non-standard format"
Hi I'm getting the folowwing message when running xpose_data:
[code]

I think the problem is that I use FORMAT=SF10.3 in $TABLE in the NONMEM control stream and that this format is not compatible with xpose.

I tried to debug and found that commenting out some code in the read_args() function fixes the issue:

[code]

But of course this is just a hack. Maybe the develpopers find a more elegant sol

[2018-05-18 18:03] billdenney opened #97 "Cannot Load Files when ID Column is Aliased"
In my `$INPUT` block, I specify that "ID=USUBJIDNUMERIC".  With that, the ID in the tables is now titled "USUBJIDNUMERIC" rather than "ID".

I think that the fix would be to detect mapping and allow an argument that makes it to the `index_table` function (https://github.com/UUPharmacometrics/xpose/blob/942f8b10c3a9cebb211c9832307c31b0107a3ee1/R/read_nm_tables.R#L366-L377) where the different requi

[2018-05-18 18:18] billdenney commented on #97
... And, something like the following could help with the feature request:

[code]

[2018-05-28 09:46] billdenney opened #101 "Feature Request: Have list_vars return a list of the variables"
Having `list_vars` return a human-usable list of variables is helpful.  But in times when I'm reporting on many models simultaneously, it would help to be able to check the var list to see if something is defined.  As an example, I'd like to be able to do something like the following in my code:

[code]

[2018-05-31 07:00] quantny opened #102 "Cannot use grid arrange"
Hello,

I am trying to use grid arrange so I can put the basic GOF plots all on the same page in a PDF file. However when I do this the plot title such as DV vs. PRED and number of observations disappear and revert to their references , @y vs. @x @run @ofv. Do you know how I can do this without losing this information.

Thanks

Justus

[2018-06-01 21:27] billdenney opened #103 "Feature Request: Store the .ctl and .lst files (or proivde as.character to get them back)"
When writing a report, I like to put in the model listing.  It would be helpful to be able to add that listing with code like:

[code]

If that is not feasible (or if it is infeasible to identically regenerate the .mod and/or .lst file from the `$code`, could the xpdb have a new element that stores the model and list files for later use?

[2018-06-05 10:52] MikeKSmith opened #104 "xpose_data reads ID and OCC as factor"
Reading ID and OCC as factor makes plotting somewhat easier (ID and OCC don't have to have type changes for each plotting function), but it makes merging with original data somewhat harder, when the user might not be expecting these variables to be of type factor. We only see type mismatch in left_join with original data.

**Quick fix:** make it clear in documentation for xpose_data that key colum

[2018-07-13 15:47] mattfidler opened #105 "parse_title no longer works with the most recent version of the tidyverse."
Hi @guiastrennec ,

With the most recent tidyverse/ggplot2 (v 3) the `parse_title` no longer works as expected.   Here is the theo example using xpose.nlmixr theophille data.

[code]

When you run dv_vs_pred you get:
[code]

![image](https://user-images.githubusercontent.com/514778/42700469-73699214-8689-11e8-8a73-ae260017c4c5.png)

I'm not sure which of the tidyverse packages is broken.  But you

[2018-08-10 04:11] mattfidler commented on #105
I checked and that code isn't to blame, rather I can't get the aestheics from ggplot in the new version of ggplot.

[2018-08-10 04:16] mattfidler commented on #105
https://github.com/tidyverse/ggplot2/blob/master/NEWS.md#breaking-changes

[2018-08-10 07:19] guiastrennec commented on #105
Hi @mattfidler, sorry for the lack of response on my side I have been pretty busy lately. I actually fixed that issue in the latest (0.4.3) version of xpose on CRAN. Unfortunately I did not have time to update github but I will try to do it soon. Please let me know if that works.

[2018-08-11 01:54] mattfidler commented on #105
![image](https://user-images.githubusercontent.com/514778/43986978-868d6f02-9cdf-11e8-940a-a21bb9084267.png)

Yes it works.  Hopefully you we get the github version updated soon.

[2018-08-13 21:44] htjollyn opened #106 "Stratification on 2 variables within vpc_data"
Dear Xpose group

I would like to use vpc_data from the xpose package to be able to stratify on 2 variables.
I have 2 columns in the original file as well as in the sdtab, named CMT (the NONMEM compartment) and GRP (the dose group).

With the following code I want to stratify first on GRP, then on CMT:

vpc_data(xpdb, vpc_type = "continuous",
         stratify = ~GRP+CMT,
         psn_folder = dir

[2018-08-15 20:25] guiastrennec commented on #106
Dear Huybrecht,

In xpose you can either generate VPCs using a PsN folder (via the psn_folder argument) or by using a run containing both a simulation and an estimation problem.

From your message it seems that you opted for the latter and I am suspecting that your problem may be due to the fact that your NONMEM run only contained one $PROBLEM. I will try to improve this in the future but in the m

[2018-08-16 20:58] guiastrennec commented on #105
fixed in #107

[2018-08-16 20:58] #105 closed

[2018-08-16 21:11] guiastrennec commented on #102
Similar to #91 and #93. It would be quite cumbersome to develop print methods for each existing external package. Instead I can suggest adding a function `parse_keywords()`  to be used within functions like `grid.arrange()` as follows:

[code]
Would this be an acceptable solution?

[2018-08-16 21:22] bguiastr opened #108 "depreciate xpose_data?"
We currently have `xpose_data()` for nonmem and `xpose_data_nlmixr()` for nlmixr. For consistency I am thinking of soft depreciating `xpose_data()` and rename it `xpdb_nm()` or `xpose_nm()` (or other if suggestions) we would then get similar naming for nlmixr e.g. `xpdb_nlmixr()` or `xpose_nlmixr()`. Any thoughts @andrewhooker @sebastianueckert, @MikeKSmith , @mattfidler?

[2018-08-18 14:25] mattfidler commented on #108
I don't mind, @kestrel99 is the maintainer of `xpose.nlmixr`.  Perhaps he can weigh in.

[2018-08-18 14:27] mattfidler commented on #105
Great!

[2018-08-20 10:25] MikeKSmith commented on #108
It's good to be able to say to folks migrating from Xpose4 that with xpose "just replace the dot with underscore". The ideal is that users shouldn't have to care whether the estimation has taken place with NONMEM, nlmixr or any other tool. So ultimately maybe xpose_data( ) would call xpose_data_nlmixr( ) or xpose_data_nm( ).

[2018-08-20 14:59] oskarrgh opened #110 "order of stratified vpc plots"
First of all, thanks for a great package! When generating vpc data based on non-PsN generated simulations the order of elements in column "strat" and the columns containing the stratification variables (both in data frame "vpc_dat" and "aggr_obs") seems to be based on data class character. This although the stratification variable in problem 1 and 2 are data class factor, with appropriate levels a

[2018-08-20 15:03] guiastrennec commented on #108
@MikeKSmith that was my initial thought but that means that the xpose_data part of the main xpose package has to account for all sub-packages and this is not great.

@mattfidler unfortunately the way I see it (correct me if I am wrong) in this case we cannot rely on S3 as we are creating the initial object and attributing its class. S3 would however work for any other function of the package as th

[2018-08-20 16:47] mattfidler commented on #108
@guiastrennec

You can still use `S3`, the method is

[code]

This way depending on what you supply as your runno, it becomes a xpose data with nlmixr or NONMEM

You can also adjust the arguments you want to include in the default function.  All methods have to include the arguments in the `xpose_nlmixr` to be included in CRAN.

[2018-08-20 16:54] mattfidler commented on #108
Since `nlmixr` has its own class if you adopted this approach, we would not have to have any if/else for `nlmixr`.

[2018-08-20 20:36] guiastrennec commented on #108
@mattfidler  thanks for the tip this could be the way to go, and please don't get me wrong I want to change xpose to an S3 to avoid all the `if else`.

@sebastianueckert I think like you said there would be a conflict in `xpose_data()` if you were to load xpose and xpose.nlmixr together (this is actually why I created this thread to get different opinion given the importance of the function `xpose

[2018-08-20 21:52] mattfidler commented on #108
Using `S3` in this way is actually fairly common (common examples are `print`, `summary`, `AIC` , `residuals`, `predict` etc).  However, @sebastianueckert does bring up a valid point that import files from another software like monolix would require something fancier. (An example would be importing the data and assigning it a specific class).

Of course xpose.nlmixr could provide its own method of

[2018-08-20 21:55] mattfidler commented on #108
Additionally if you want `xpose.nlmixr` to use `xpose_data` without warning by using a simple `require(xpose.nlmixr)` you would have to take care of Issue #95.

[2018-08-21 06:05] MikeKSmith commented on #108
Matt - Monolix provided a method for import to Xpose4 via the DDMoRe Standard Output object. That is, they converted to SO and then we had a method of converting SO to xpdb as part of the DDMoRe R package using “as.xpdb( )”.

Sent from my iPad

[2018-08-21 08:12] oskarrgh commented on #110
Thanks for the fast reply @guiastrennec,
I will get back to you asap with regards to a reproducible example. Meanwhile I can confirm that the suggested features did solved my issue by enabling transformation of the variable into a factor and setting the appropriate levels.
[code]
Would be good to have the feature documented as I failed to figure out how to do this prior to my first post. Still cur

[2018-08-21 11:54] mattfidler commented on #108
`as.xpdb` could work as well.  Is it a S3 method Mike?

[2018-08-21 11:57] mattfidler commented on #108
Perhaps as.xpdb should be a S3 method in xpose and leave everythibg else as is.

[2018-08-31 15:17] Vincent-AC opened #111 "Calculation of PI in VPC"
Hello,
First of all thank you for all your work in making this new xpose package for ggplot enthusiasts !

I have an issue with how percentiles are calculated for VPCs prediction intervals. There seems to be a difference between this new package and PsN + xpose4

In PsN for a i-th percentile of the simulations, first pooling the simulated DVs from all the NONMEM simulation runs is done then the pe

[2018-08-31 16:42] smouksassi commented on #111
should'nt we open this on the vpc repo ?  you can click on a line number and ad it to the link e.g.
https://github.com/ronkeizer/vpc/blob/master/R/vpc.R#L250
Note that to be able to do the confidence interval  VPC over the replicates we need to do that and I am not sure there is an option to do the old "scatter vpc" which is less informative. https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5321813/

[2018-09-04 08:24] MikeKSmith opened #112 "Change detection of eta type variables"
In read_nm_tables.R function index_table the variable detection for type eta is
stringr::str_detect(.$col, 'ETA\\d+|ET\\d+') ~ 'eta',

Consider changing to
stringr::str_detect(.$col, '^ETA|^ET') ~ 'eta'

to allow detection of ETA parameters by name e.g.
ETA_CL, ETA_V etc.

[2018-09-05 21:10] sn248 opened #114 "`dv_preds_vs_idv` with faceting"
Hi

I am trying to use the `dv_preds_vs_idv` with faceting, but I am not getting expected results. Function call without the faceting gives expected results, i.e.,

`dv_preds_vs_idv(xpdb, group = "ID")` generates a grid of plots (1 row and 3 columns) of `DV`, `IPRED` and `PRED` with independent variable `TIME`.

With `dv_preds_vs_idv(xpdb, group = "ID", facets = c("STUDY"))`, I expected a 12 plots

[2018-09-05 21:29] guiastrennec commented on #114
Hi,

xpose uses an internal facet called `'variable'` for all plots that have multiple panels by default such as `dv_preds_vs_idv()` or `eta_distrib()`, etc. So in order to get the plot that you want, simply add `'variable'` to your facets as follows:
`r dv_preds_vs_idv(xpdb, group = "ID", facets = c("variable", "STUDY"))`

Good luck

[2018-09-05 21:29] #114 closed

[2018-09-05 21:34] guiastrennec commented on #111
Hello,

Thank you for reviewing the code so thoroughly. As mentioned by @smouksassi the issue you are describing is related to the code from the vpc package, for which xpose is only a wrapper. So I suggest that you post this issue [here](https://github.com/ronkeizer/vpc/issues) instead.

Best of luck!

[2018-09-05 21:35] #111 closed

[2018-09-05 21:46] guiastrennec commented on #112
Thanks for the suggestion.
My initial thoughts were to be rather strict to avoid false positive such as TH**ETA**. In that sense I think it is good that you added the regex `'^'`, I just make one suggestion, could you please change `'^ET'` to `'^ET\d+'`?

This would however bring a problem to the `eta_distrib()` and `eta_qq()` plots due to use of a post-processing function to make the labels look

[2018-09-06 03:36] sn248 commented on #114
That works, thanks!!

[2018-09-06 18:13] yoshidk6 opened #115 "`filter` function not assigning `xpose_data` class to the return object, issue with recent tidyverse?"
I recently updated the `tidyverse` package and found that `filter` function seems to return object without `xpose_data` class assigned.
It can be worked around it by manually adding `xpose_data` class to the returned object but it would be nice if we don't need to.

Comparing session info though, I'm not sure what is causing this, as `dplyr` or `rlang` versions are the same. Unlikely but possibly

[2018-09-11 21:48] jeslo328 commented on #112
Hi Ben

I used this package - and it was easy to be maneuver as well adjustable. (fantastic job Ben)
So how would one change the "eta" to its respective names.
Will i be able to compile all the diagnostic plot in 1 as in old xpose (where we would be able to do with basic.gof(xpdb))

Thank you
Jesmin

[2018-09-12 14:13] billdenney commented on #112
I just had the same issue as @MikeKSmith with my ETAs named: ETA(KA), ETA(CL), ETA(V1), ETA(Q2), ETA(V2), ETA(Q3), ETA(V3)

[2018-09-12 14:55] billdenney opened #116 "prm_distrib Fails when Parameter Has Parentheses"
One of my parameters is named "ETA(CL)", and this appears to cause the following error:

[code]

The `traceback()` suggests it's an issue with attempting to map a column name to a function for summarization:

[code]

In my NONMEM model, I'm using:

[code]

[2018-09-12 15:49] billdenney opened #117 "Feature Request: Simplify Recoding Parameters"
Within NONMEM, parameters must be numbered, but it would help if we could recode parameters within xpose either by merging with a list of mapping data.frames or by running recode on the data.

As an example, `SEX = 1` isn't very informative while `SEX = "Female"` or `SEX = "Male"` is (https://uupharmacometrics.github.io/xpose/articles/customize_plots.html#modify-aesthetics).

A simple implementati

[2018-09-12 15:59] billdenney commented on #117
This may be possible with something like the following:

[code]

[2018-09-12 17:21] billdenney opened #118 "Feature Request: Add left_join Method to Augment Data"
Similar to #117, it is sometimes helpful to augment the underlying data for plotting purposes.

Could a `left_join()` method be added that would allow that augmentation such as the following?

[code]

The only limitation I see with this code is that it doesn't assign variable types (and, it's an important limitation).

[2018-09-12 19:39] guiastrennec commented on #117
@billdenney `recode()` can be used in xpose isn't this what you are trying to achieve?

[code]

[2018-09-12 19:42] billdenney commented on #117
That's exactly it!  I didn't realize that mutate worked with xpose (I missed it in the docs; my oversight).

[2018-09-12 19:42] #117 closed

[2018-09-12 19:43] billdenney commented on #118
This is already covered by `mutate()`.

[2018-09-12 19:46] guiastrennec commented on #116
I have seen this error in the past when importing the .ext and .phi files that contain ETA(1), OMEGA(1,1), SIGMA(1,1) and THETA(1), etc. but it was solved by a dplyr update. Are you using the latest tidyverse version? If yes could you please send me a reprex (you can PM me)?

[2018-09-12 19:47] guiastrennec commented on #117
No problem!

[2018-09-12 19:52] guiastrennec commented on #118
@billdenney that is a good point it could be useful to enrich the data by merging it with `data.frames`. I will see what I can do. FYI I am also planing to bring many of the mutate_if, mutate_at, summarize_if, etc. in future updates.

[2018-09-12 19:55] guiastrennec commented on #118
By the way thanks for your comment about the $<- method I have used a work around `xpdb <- as.xpdb(xpdb)` (which is exported if you ever need to use it) but maybe your suggestion could be more elegant solution I will need to look into it.

[2018-09-12 20:04] guiastrennec commented on #112
@jeslo328 I guess an easy way to rename your panels would be through the labeller function:
[code]

![example](https://user-images.githubusercontent.com/7304883/45450212-ce4a4d80-b6d7-11e8-92ff-116008aceae4.png)

[2018-09-12 20:08] guiastrennec commented on #112
@MikeKSmith and @billdenney I had not realized that so many modelers were using specific ETA names. I can see the value for this in the plot and that it need to be implemented in the next version of xpose.

FYI the current code was developed to make use of `$TABLE ETAS(1:LAST)` in NONMEM which I find useful as you never forget an ETA value. I would also like for xpose to be able to make use of the

[2018-09-12 21:15] billdenney commented on #112
@guiastrennec, I have moved to almost always using THETA and ETA naming so that I don't have to remember what the numbers of the parameters are.  And, I made a suggestion to Bob Bauer a few weeks ago that will make them even more usable and useful; in the next version of NONMEM, you will be able to specify something like the following (syntax may be slightly different)

[code]

which will expand t

[2018-09-12 21:19] billdenney commented on #116
I'm on dplyr 0.7.6.  I'll look into making a reprex.

[2018-09-13 15:10] Vincent-AC commented on #111
Thanks for your answer, I'll take the discussion there.

[2018-09-21 02:44] mattfidler commented on #108
I saw you added `as.xpdb`, but it isn't a `S3` method.  This means, if I'm not mistaken, it will conflict with the ddmore package?  Is this true @MikeKSmith @guiastrennec ?

[2018-09-26 20:38] ananthha opened #119 "grid.arrange not working with dv_vs_pred plots"
grid.arrange() output fails to identify the title and subtitle of the individual plots. For example,
p1<-dv_vs_pred(xpdb_run1)
p2<-dv_vs_ipred(xpdb_run2)
grid.arrange(p1,p2, ncol=2) output plot does not have the title and subtitle for the plots.

[2018-09-26 20:54] #119 closed

[2018-09-26 20:54] ananthha commented on #119
Never mind, Noticed others asking same qn.

[2018-09-26 20:58] ananthha commented on #102
This gives an error: could not find function "parse_keywords". What is the package for parse_keywords() function. Thanks.

[2018-09-27 13:50] rfaelens commented on #95
+1
This issue occurs because x$xpose$fun in parse_title has 3 elements: the package name, the `::` operator and the `dv_vs_ipred` function.

[2018-09-27 13:53] rfaelens commented on #95
This occurs because `dv_vs_idv` calls `xplot_scatter` with plotname `as.character(match.call()[[1]])`.
When you call a function with the package name, `as.character.call` will return a vector of size 3.

[2018-09-27 14:46] rfaelens commented on #95
The solution is probably to collapse this. That is the easiest fix.
I made this change in my fork and want to open a pull request. However, it seems the contribution guidelines are out of date... Should I open a PR to the `dev` branch (last commit 8months ago) or to the `master` branch?
@guiastrennec ?

[2018-10-03 01:34] billdenney opened #120 "Feature Request: For DV vs PRED (and IPRED), add `square` option"
I prefer to see the x- and y-axes of my DV vs. IPRED and DV vs. PRED figures as square with equal ranges.

Would you consider adding an argument like `square=TRUE` (default FALSE to align with current practice), and if `TRUE`, it would add the following (which is the best way I know to get equal ranges and square axes):

[code]

[2018-10-03 01:48] billdenney opened #121 "Omega Labels Mis-Detected?"
(Hopefully this is unrelated, but I'm using @MikeKSmith 's #113.)

I think that this is an error with name detection of diagonal $OMEGA values.

I have the following $OMEGA block set in a model:

[code]

With it, I get the error:
[code]

As I looked, it appears to be an issue with off-diagonal $OMEGA values here such that they have blank names:
https://github.com/UUPharmacometrics/xpose/blob/74855

[2018-10-24 14:34] celinesarr opened #122 "Question: is this new version of xpose includes survival plots and VPC for survival plot?"
Hello ,

I just wanted to know if this version includes the a ggplot-based version of kaplan.plot so we can have pretty graphics for survival? and VPC?

Many thanks
Celine

[2018-10-26 00:43] humblewarrior opened #123 "sdtab is not found"
Hi!
I am pretty new to Xpose. I am trying to run Xpose through Pirana interface. When I try to run a model and execute it through NONMEM, it gives me the following message:
"The table file  sdtab002  was not found. Please check your output tables." Here 002 refers to a model file that was used.
It is driving me nuts. In the morning, I seemed to figure out the problem for a while but it was an acci

[2018-11-06 23:02] guiastrennec commented on #120
A while ago I had a discussion with Justin Wilkins about this, I am rather against including more arguments to the main functions which after a while would be overloaded with options.

In my opinion this should be handled the ggplot2 way as nicely shown in your example but I am open to discussion :-)

[2018-11-06 23:12] guiastrennec commented on #121
Thanks for the detailed example. I need to rethink the way that blocks are parsed, xpose currently assumes that all blocks are written in their "triangle" form and not as a list. This is related to #87

[2018-11-06 23:17] guiastrennec commented on #122
Hello,

Unfortunately xpose does not yet support Kaplan VPCs. However when it will, it will most likely be a wrapper around [vpc::vpc_tte](http://vpc.ronkeizer.com/tte-data.html).

[2018-11-07 01:37] billdenney commented on #121
There is a project to make a full NONMEM parser:  https://github.com/EightPillars/nmtranprocessorcpp

Might it be worthwhile to combine NONMEM parsing efforts into one rigorously tested parser that can be used across applications?  (The linked effort is trying to make an ANTLR-based parser which would presumably be usable in many programming languages.)

[2018-12-20 03:41] billdenney opened #124 "Feature Request: Make `list_vars` invisibly return a list of vars"
It would be helpful if there were a simple way to get the mapping of column names to parameter type.  An interface that seems to be a good fit would be to return the list of vars invisibly from the `list_vars()` function.  (Or to make it return a new object type with a print method that printed like `list_vars()` currently does.)

[2018-12-20 03:54] billdenney opened #125 "Error Plotting Poorly Formatted ETA Name"
My eta variables are not correctly detected, so I manually assigned them with:

[code]

When I then try to plot with:
[code]

I get the following error:

[code]

[2018-12-20 04:19] billdenney opened #126 "Cannot `rename` a column with parentheses in the name"
When my input data has a name `ETA(KA)`, I can't rename it or use it.  This is due to a bug in dplyr (that I can't find at the moment), but I think that they said it is something that they either can't or won't fix.

[code]

[2018-12-25 02:00] billdenney opened #128 "Condition Number from `get_summary()` Appears Inaccurate"
I have a model with the following eigenvalues, and the condition number is reported as 1.8 by `get_summary()` while it should be 42.5:

NONMEM output:
[code]

[2019-01-07 20:49] sn248 opened #131 "Error with simple `dv_vs_pred` plot"
Hi

I am getting a `Error in if (n_panels > 20) { : argument is of length zero` with a simple diagnostic `dv_vs_pred` plot using `dv_vs_pred(xpose)` command. I am using `xpose` version `0.4.0`

There is also an additional warning

`In addition: Warning message:
y, x is not part of the available keywords. Check ?template_titles for a full list. `

but `template_titles` does have the `@x,@y etc.` in

[2019-01-08 00:00] sn248 commented on #131
The error went away with the current version `0.4.3`. So closing the issue ..

[2019-01-08 00:00] #131 closed

[2019-01-13 21:20] guiastrennec commented on #124
Hi @billdenney happy new year and thanks for the suggestion aI will try to implement that in the upcoming 0.5 version of xpose.

[2019-01-13 21:30] htjollyn commented on #106
Ok thank you,
Huybrecht

On Sun, 13 Jan 2019, 22:27 Benjamin <notifications@github.com wrote:

[2019-01-13 21:32] guiastrennec commented on #96
@lindauer1980 could you please send me a minimal reproducible example (i.e. a small sdtab and a lst file)?

[2019-01-13 21:37] guiastrennec commented on #95
@rfaelens sorry for the delay in my response. You can a PR to the master branch directly.

[2019-01-13 22:00] billdenney commented on #116
It is almost definitely the same issue.  If it happens again with the patch for #125, I’ll reopen this issue or start a new one.

[2019-01-13 22:00] #116 closed

[2019-01-13 22:02] billdenney commented on #101
Whoops, yes they are the same.

[2019-01-13 22:02] #101 closed

[2019-01-16 07:11] lindauer1980 commented on #96
Dear Benjamin,

you can use the example data/model that I posted here for another issue : https://github.com/lindauer1980/NONMEM_DROP_ISSUE

Happens that the datatable  import with xpose doesn't work for these examples either.

Regards, Andreas.

[2019-01-17 16:24] jzhou2009 opened #133 "prefix of "run"?"
I found out the xpose_data requires .lst files must start with "run", e.g. "run1.lst", and it does not take "1.lst" as the prefix of "run" was added to run number in the new xpose. Is there any way to fix this?

Thank you!
Regards,
Jie

[2019-01-19 23:55] guiastrennec commented on #133
@jzhou2009 by default xpose works by combining the arguments `prefix = "run"`, runno and `ext =  ".lst"`. You can either change the prefix to match your naming convention OR you can ignore these 3 arguments and use the `file` argument instead.

You can read more about the way these arguments work in the [xpose documentation](https://uupharmacometrics.github.io/xpose/reference/xpose_data.html)

[2019-01-19 23:55] #133 closed

[2019-01-24 22:31] sn248 opened #136 "Add a vertical line to ind_plots to show dose times"
Hi

I am wondering if there is an easy way to add vertical line to show dosing events. I am thinking we have to use `guide` which options to `geom_abline` but could not figure out the syntax.

Another question, in `dv_vs_pred` type of diagnostic plots, is there anyway to color the points based on a `factor`, i.e., I would like to highlight a few points based on a factor, but can't seem to do so.

[2019-02-08 15:34] billdenney opened #140 "Feature Request: A function to provide all files that will be loaded"
I'm working to incorporate `drake` in more of my workflows, and one thing that it does well is track files outside of R in the dependencies for results.

As described in ropensci/drake#721, it would help to make these dependent files known to `drake`.  Is there a way to know in advance all the files that will be loaded by `xpose_data()` (or as this is a feature request, I think the question is "co

[2019-02-11 01:55] billdenney opened #141 "Feature Request: coef and vcov methods for xpose_data"
I've recently been wanting to simplify confidence interval generation for xpose_data objects.  As a first, naive attempt, I tried calling `confint()` on my xpdb.  That didn't work, so I dug a bit deeper, and the default confint method only requires a `coef` and `vcov` method.

I wrote the following a simple wrappers, but I know that I didn't do problem/subproblem/method selection correctly.  Also,

[2019-02-20 13:39] jeroenes opened #142 "Xpose is no longer available on CRAN"
As the title says - it seems to have been removed because of unresolved issues. I just tried to install xpose freshly and it came back as unavailable.  Would be great if it would be made available again.

Thanks,
Jeroen

[2019-02-25 00:45] palar359 opened #143 "VPC in xpose without $SIM"
Hi,
I am a beginner in NONMEM (using PsN) and trying to run VPC through it.
By now, I know to assign a problem no. for estimation and another for simulation in control stream and run vpc in xpose with the syntax:
xpdb %>%   vpc_data()   %>%  vpc(smooth = FALSE, type = 'alpr')

The alternative method is to run estimation and vpc separately in Perl and from the "vpc_dir1" select the "PsN_vpc_plots.R

[2019-02-25 02:49] palar359 commented on #143
I must add, I tried this option as well:

xpdb %>% vpc_data(psn_folder = '@dir/run7_vpc', psn_bins = TRUE) %>% vpc()
 But I got this error:  The `psn_folder`:./run7_vpc could not be found.

My run7.lst file was in the same working directory as "vpc_dir1" containing /m1 subfolder.

I am trying to figure out what went wrong?

[2019-03-10 20:50] billdenney opened #144 "Etas Not Correctly Shown with `eta_distrib`"
When plotting my data, I get an inaccurate output with `eta_distrib()` where the etas are not accurately shown.  Specifically, I have 3 etas in the model, "ETA_CL", "ETA_KA", and "ETA_V2", only two are showing up, and it's unclear what I'm actually seeing in the figures since something is inaccurately merged.

![image](https://user-images.githubusercontent.com/10359931/54091135-9fddc000-4352-11e9-

[2019-03-18 23:20] guiastrennec commented on #142
Sorry about that I have been very busy for some time now. I just resubmitted to CRAN 0.4.4 will hopefully be released tomorrow!

[2019-03-18 23:20] #142 closed

[2019-03-18 23:21] guiastrennec commented on #136
@sn248 yes this is something that I have on my todo list, I was thinking vertical lines for dosing and shaded areas for 0 order infusions.

[2019-03-18 23:22] guiastrennec commented on #140
@billdenney very good suggestion I am also looking into drake myself I would certainly like to see xpose compatible with it !!

[2019-03-18 23:25] guiastrennec commented on #141
Do you think this should be added in the core xpose or an add-on? When times allow I will transition xpose into S3 so it would allow more flexibility for this type of initiative.

[2019-03-18 23:32] billdenney commented on #141
To me, coef and vcov are methods that assist with model summaries, so I think that they are core.

[2019-03-18 23:33] guiastrennec commented on #143
@palar359 if you have a PsN generated vpc folder then you should be using the `psn_folder` option this is as any file path in R (if you use Rstudio you can get tab completion on your path to ensure that it is correct). The @dir is to facilitate your life if your vpc is in the same directory as the model you imported to create the xpdb. You can have a look at the VPC vignette ([here](https://uuphar

[2019-03-18 23:33] #143 closed

[2019-03-18 23:34] guiastrennec commented on #141
Why not the code is relatively simple and we could add these to the `summary()` output

[2019-03-22 01:14] Kagedal opened #149 "Error reading data to xpose"
When reading the data into xpose I get the following messages:
   Looking for nonmem output tables.
   Reading: sdtab1, patab1, cotab1, catab1 [$prob no.1]
   Looking for nonmem output files
   Reading: run1.cor, run1.cov, run1.ext, run1.phi
   Warning message:
   `data` = out must be a symbol or a string, not a formula

When running list_vars(xpdb) I get
   No `data` slot could be found in this x

[2019-03-22 09:26] guiastrennec commented on #149
@Kagedal I cannot reproduce your error! Here is my suggestion:
1. Check that the .cor, .cov, .ext and .phi are present with the .lst file?
2. Make sure R, xpose and tidyverse are up to date *(note: xpose 0.4.4 was just released last night).*
3. Try the following example code:
[code]

This should give you the list of variables for the xpose example and you should not be getting any error. If you do

[2019-03-22 15:30] Kagedal commented on #149
Thanks Benjamin,
After updating tidyverse it is working again!
Matts

On Fri, Mar 22, 2019 at 2:26 AM Benjamin <notifications@github.com> wrote:

[2019-03-22 22:23] Kagedal opened #150 "Error when X=DV format is used in nonmem $input"
If DV is defined in $input like this
$INPUT  ID PTNM TIME DV=X EVID....

To identify DV, I used this in xpose:
xpdb =xpdb %>%   set_var_types(dv="SLD",iwres = "CIWRES")

When running
xpdb %>% dv_vs_ipred()
I get Error: Discrete value supplied to continuous scale
Not very easy to understand this error message since the plot was not at all using any categorical data.

I think that X is appanded to t

[2019-03-23 14:12] #149 closed

[2019-03-23 14:17] guiastrennec commented on #150
@Kagedal if DV is part of the catab table it is the expected behavior that it is considered a categorical covariate by xpose and thus converted to a factor thus the ggplot2 error message. I advise that you place DV in sdtab instead. If you do not want to rerun the model you can manually fix the DV class with:

[code]

Hope this help !

[2019-03-24 21:41] sn248 commented on #136
Thank you very much!

[2019-03-29 20:49] mattfidler opened #154 "Multiple endpoint support?"
Hi @guiastrennec,

I couldn't find information about multiple-endpoint plots.  It should be possible but I'm unsure if it is present yet.

I was going to provide a nlmixr example with multiple endpoints and use xpose plots and realized I didn't know how to specify multiple endpoints.

Best
Matt

PS, have you ever got around to making `vpc` a `s3` method since other people use the same function.

[2019-03-31 19:35] guiastrennec commented on #154
@mattfidler I am not familiar with the term "multiple-endpoint plots" could you please be more specific?

Regarding S3 I unfortunately did not yet have the time but it is on my todo list and more than vpc it will be the entire package that will be rewritten this way. The idea is to facilitate integration with NLMIXR for example

[2019-04-01 15:35] mattfidler commented on #154
For example stratifying by endpoints in a parent-metabolite model.  Or  stratifying by endpoints in a PK/PD example like:

https://github.com/nlmixrdevelopment/nlmixr-examples/blob/master/case-study-warfarin/warfarin_PKPD_joint.R

Here I wanted to plot by PK and PD endpoints for the simultaneous fit.

Thanks for the update on S3.  This seems like a major refactoring.

[2019-04-01 15:36] mattfidler commented on #154
The default nlmixr plots for instance:

https://github.com/nlmixrdevelopment/nlmixr-examples/blob/master/case-study-warfarin/warfarin-joint-focei.pdf

[2019-04-01 19:14] guiastrennec commented on #154
@mattfidler thanks for the examples, now I understand what you want to achieve (my apologies for the confusion)!

In the case of the parent-metabolite model or continuous PK/PD models you can easily stratify the plot based on a variable (i.e. usually DVID in NONMEM).
1) You can define this variable on a plot by plot basis with the `facet` argument e.g.
[code]

2) You can also define the faceting g

[2019-04-01 19:15] guiastrennec commented on #150
Please reopen if the problem remains

[2019-04-01 19:15] #150 closed

[2019-04-01 19:22] guiastrennec opened #155 "[Feedback wanted] Documentation update !!"
@everyone I realize that some work needs to be done on the xpose documentation and I would like your opinion on what aspects of the package you find confusing and poorly documented.

I believe that the `vpc()`, `vpc_data()` are among the most confusing functions but please send me your feedback and I will try to make things better!

Don't be shy 😄 !

[2019-04-02 02:13] mattfidler commented on #154
Indeed it does give me an idea of what is possible.  I don't think xpose.nlmixr captures this information currently.  I have opened up a issue there.

I'm not sure if you want to keep this issue open to include documentation about this feature.

Also I'm assuming a plain `facet_wrap` would work since it is a `ggplot`?

[2019-04-02 03:15] mattfidler opened #156 "Seeing @x, @y @dir etc again in plots"
Hi @guiastrennec,

I'm seeing the `@x` `@y` etc again.  I'm assuming something in the updated tidyverse may be to blame?  `stri` or something similar?'

My sessionInfo:

<details>
[code]
</details>

[2019-04-02 03:21] mattfidler commented on #156
Actually, it seems:

[code]
gives the strange plots whereas:

[code]
gives the correct labels.

[2019-04-02 03:28] mattfidler commented on #156
Because of this, I'm unsure how to save plots to pdf in

https://github.com/nlmixrdevelopment/nlmixr-examples/blob/master/case-study-nimotuzumab/Nimo.R

If I don't plot them, they of course don't show up in the GOF page:

https://github.com/nlmixrdevelopment/nlmixr-examples/blob/master/case-study-nimotuzumab/GOF-nimo.pdf

[2019-04-02 07:54] smouksassi commented on #156
did you try the print method ?
( print is implicit when in interactive mode while you need to explicitly call the print in script mode)
print( ggplotobject)
not sure what a plot(ggplotobject) does

[2019-04-02 09:07] smouksassi commented on #155
a topic that comes around often is how to handle vpc with multiple lloq ( several studies where lloq is study specific) this is a good candidate of the workflow approach where you filter your data run the vpc with the nbins and loq specif to the study then at the end stitch everything together.
also a good liston what is missing from the old xpose.
also example of theming for those not very famili

[2019-04-02 13:44] mattfidler commented on #156
I did try the print method, but I was trying to be too clever:
[code]
did not work because of operator precedence.

I changed to `plot` which in the past for `grid` based object like `lattice` and `ggplot` printed correctly for me.

If I change to:
[code]
everything works well.

Perhaps the question is if xpose wants to support the `plot` method; I believe `ggplot` supports it.

[2019-04-02 13:45] mattfidler commented on #155
I think an example of stratifying by endpoints would be nice.

[2019-04-02 16:54] guiastrennec commented on #156
@mattfidler the trick for the operator precedence issue is to use `{ }` e.g.
[code]

I have always used `print()` but if ggplot2 supports `plot()` then it would be logical for xpose to support it as well, so I will implement it.

[2019-04-02 17:03] mattfidler commented on #156
That is true;  You could also use parentheses.  `()`, but at that point I thought `print(...)` was easier and more readable than piping everything.

[2019-04-08 02:44] mattfidler commented on #156
One last point/question;

In your new version would you want

[code]

To plot a common list of plots that are considered best pratice to run.

[2019-05-08 17:23] paleolimbot opened #157 "Forthcoming release of ggplot2 and xpose"
We're in the process of preparing a [**ggplot2**](http://github.com/tidyverse/ggplot2) release. As part of the release process, we run the R CMD check on packages that use **ggplot2** to make sure we don't accidentally break code for downstream packages.

In running the R CMD check on **xpose**, we identified the following issues:

*   checking examples ... ERROR
[code]

*   checking tests ...
[co

[2019-05-09 18:16] mattfidler opened #158 "Feature Request: Broom compatibility?"
Hi @guiastrennec ,

What do you think about adding broom compatibility?

nlmixr recently added it and it could allow other tidyverse modeling packages to interact with xpose modeling object (like with NONMEM).

I thought you might be interested, or least should be made aware.  For me, it was a bit difficult to find out where the parameters were stored initially and this should make it easy to acce

[2019-05-09 18:18] mattfidler opened #159 "Question: using the example NONMEM dataset"
Hi @guiastrennec,

Do you mind if I use the example data here for NONMEM import in a nlmixr example?  I'm assuming its OK.

[2019-05-09 18:43] clauswilke commented on #157
I don't think `complete = TRUE` is the issue. It's unclear to me what the problem is but it may simply be that the package needs to be rebuilt after the new ggplot2 has been installed.

I use similar code in my packages and it seems to be fine:
https://github.com/wilkelab/cowplot/blob/master/R/themes.R

[2019-05-11 13:56] guiastrennec commented on #156
@mattfidler, having the possibility to store plots within the xpdb is something I have been considering for a while e.g.:
[code]
But I still need to figure out a few things. Maybe using plot (render the plot) vs. print (prints the xpdb overview as of the current version) could be a way to go but it would break all previous codes...

[2019-05-11 14:00] guiastrennec commented on #157
@paleolimbot thanks a lot for the heads up. As you nicely pointed out, it might be that the example dataset might need to be updated with the current version of ggplot2. I can see how including this "prerendered" object could be a problem in the future for both **ggplot2** and **xpose**, so I will look into a way to have it built on the fly ASAP.

[2019-05-11 14:10] guiastrennec commented on #158
I have not yet considered this. What do you suggest comes out of `tidy()`, `glance()` and `augment()`?

[2019-05-11 14:12] guiastrennec commented on #159
@mattfidler, no problem at all this is why I have made it all all open source 😉

[2019-05-11 14:12] #159 closed

[2019-05-11 14:38] mattfidler commented on #158
You get 3rd party package integration.

It will be included in nlmixr; here are some examples of what you can do;  Who knows what else would be there in the future:

https://nlmixrdevelopment.github.io/nlmixr/articles/broom.html#dotwhisker

[2019-05-11 14:39] mattfidler commented on #158
I'm not saying you should, but perhaps you can consider it.

[2019-05-11 14:41] mattfidler commented on #156
Hi @guiastrennec,

That is what I do for RxODE objects;  Plot plots a ggplot of the solved system and print gives the overview.

I'm unsure what would break, but I think since you are adapting s3, things might break in general.

[2019-05-11 14:42] mattfidler commented on #159
I thought so.  thanks

On Sat, May 11, 2019 at 9:12 AM Benjamin <notifications@github.com> wrote:

[2019-06-20 19:12] billdenney opened #161 "Feature Request: Add runrecord-like functionality"
When reporting, I use `xpose` as my default reporting package.  With that, I would like to simplify the way that I generate records of my runs.

Specifically, I would like to generate a table (aka data.frame) with indicators for the model characteristics (like OFV), description, and nesting.  With some relatively straight-forward heuristics, all of this could be automated including the nesting.  T

[2019-06-20 19:14] billdenney commented on #158
I'd love to have `broom` (or more accurately `broom.mixed`) support.  `tidy()` and `glance()` have rather well-defined semantics (I'd have to double-check what would be expected).  `augment()` would be harder without an engine to run the models (easy for nlmixr, hard for NONMEM).

[2019-06-20 20:38] mattfidler commented on #158
Note nlmixr does not do `augment` either.  The preds/ipred/cwres are already in the nlmixr object.  Simulations are handled by RxODE.  I have a hard time figuring out what `augment` should do in addition to these already covered items.

[2019-06-20 20:40] mattfidler commented on #161
There are also packages that will produce report ready tables baesd on broom

[2019-06-20 20:40] mattfidler commented on #158
Also `broom` related functions don't actually import `broom` or `broom.mixed` but rather `generics`

[2019-08-04 23:49] billdenney commented on #161
@mattfidler, what are some of those packages?  And, will they do things like model nesting calculations?  (I'm wanting change in AIC or OFV.)

[2019-08-05 03:59] mattfidler commented on #161
Unfortunately nesting calculations are not implemented yet.

The report-based tables are currently in
- huxtable (https://hughjonesd.github.io/huxtable/)
- texreg (https://github.com/leifeld/texreg/)

However, they are more geared to stats reports, and don't exactly list what I find useful for a pharmacometrics report.    The nlmixr output that I have more closely resembles what I find useful, but

[2019-08-05 12:07] billdenney commented on #161
I wrote some nesting code yesterday that's not quite ready for prime time.  (It works, but I've not checked it for robustness to other situations than what I was working on yesterday.)  What I wrote can take a list of xpose objects when they have the parentage defined and automatically nest them with indentation, and it will automatically generate a description of changes from the parent model ind

[2019-08-05 16:34] mattfidler commented on #161
I this seems pretty nice.

I also think it would be nice to use broom models to create a so called `anova` analysis.  The first would be the parent and then you could nest them.  It could lead to generic sorts for automatic covariate searching.

The distance matrix seems a nice idea, but as you said the subtleties make it error prone.

[2019-09-27 15:25] UNCcrawler opened #165 "Question about eta_distrib plot"
Hi, I have a question about the eta_distrib plot and hope you could help me understand the plot better.
As shown below (or attached), there are few grey bars in two of the bottom plots. I don't understand what are these grey bars. Could you please explain this to me? Thanks!
[test.pdf](https://github.com/UUPharmacometrics/xpose/files/3663376/test.pdf)

[2019-10-01 15:37] michielve opened #166 "Error column string must be length 1 since tidyr update"
After updating the tidyr package to the latest version (V1.0, since 11-sep-2019) I am unable to create an xpose_data object. I get the following error:
`Column string must be length 1 (the group size), not 2`

After some troubleshooting I found that the error originates from the creation of the table_list object in the list_nm_tables function.

`  table_list <- table_list %>% dplyr::group_by_(.dot

[2019-10-01 15:44] michielve commented on #165
If I am correct, this is a so called rug plot. The default type for the eta distribution is type="hr".
It is a single tick for each individual observation.

http://rfunction.com/archives/390

An xpose example is given here and how to change the type:
https://uupharmacometrics.github.io/xpose/reference/distrib_plot.html

[2019-10-01 20:02] guiastrennec commented on #166
Thank you very much for the bug report, I am aware of this issue and will release 0.4.5 by the end of the week to CRAN to fix this.

[2019-10-01 20:11] guiastrennec commented on #165
@UNCcrawler as nicely pointed out by @michielve the ticks at the bottom of distributions plots such as histograms or density are indeed called a rug and are meant to indicate where individual observations are falling. It is best to use these rugs when the data is relatively sparse as it may helps to avoid over interpretation of trends (e.g. in your case the ETA(2) with the SC study) especially wit

[2019-10-01 20:11] #165 closed

[2019-10-02 00:36] UNCcrawler commented on #165
Thank you for help. Now I see the light grey bars behind the dark grey bars are showing the density of observations. Thank you for taking the time to help me! @michielve @guiastrennec

[2019-10-02 19:14] guiastrennec commented on #165
@UNCcrawler, from the look of your plot I do not think that you have density kernels in there (i.e. type = 'd') and I do not know why you have 2 types of bars... If you send me a reproducible example I can look into it, but by default the histogram (with the rug) should look like this in xpose:

```prm_distrib(xpdb_ex_pk, type = 'hr')```
![test](https://user-images.githubusercontent.com/7304883/66

[2019-10-04 21:30] UNCcrawler commented on #165
Thank you! I just figured it out. It was a syntax error. I apologize for
wasting your time.

On Wed, Oct 2, 2019, 3:14 PM Benjamin <notifications@github.com> wrote:

[2019-10-13 19:55] guiastrennec commented on #166
Fixed in 0.4.5

[2019-10-13 19:55] #166 closed

[2019-10-13 19:55] #157 closed

[2019-10-13 20:36] guiastrennec commented on #158
As mentioned in #164 I am not in favor of adding `broom` compatibility nor R model objects features to `xpose` databases. I believe that these are nice ideas but they would belong to extension packages around `xpose`. In my opinion one would run into limitation caused by the fact that `xpose` has no power of running or updating a NONMEM model and several functions commonly used in this context suc

[2019-10-13 20:36] #158 closed

[2019-10-13 20:39] guiastrennec commented on #141
As stated in #158 I no longer believe that the R model objects functions should be part of the main `xpose` code, but I recommend a separate extension package instead.

[2019-10-13 20:39] #141 closed

[2019-10-13 21:21] billdenney commented on #158
Can I nudge a reconsideration of the roadmap that model-results-extraction functions (like `coef()`, `vcov()`, `tidy()`, and `glance()`) be included?

The functions that are focused on extracting information from model objects seem like they would be a direct fit for some parts of `xpose`.  Not the graphics parts, admittedly, but the fact that they would e`xpose` the model results in ways that wou

[2019-10-14 11:46] billdenney opened #168 "rename() Changes Variable Type"
When I rename a variable, its type changes from whatever it was before to na:

[code]

<sup>Created on 2019-10-14 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2019-10-14 11:55] billdenney opened #169 "Feature Request: Option to Ignore Zeros in Res and Eta Figures"
In many models, some subjects and/or rows are non-informative and have 0 for the residuals and etas.  It would be helpful to have an option to ignore zero values when plotting residuals and etas to only have the informative rows present.

In parallel with this, a zapsmall_digits option (calling `zapsmall()` on the value to be plotted) would be useful as there are sometimes near-zero (but not preci

[2019-10-15 22:48] guiastrennec commented on #97
@billdenney I have done some updates on `read_nm_tables()`, among other things I removed the dependency on the ID column and preserved the filenames in preparation to #140

Can you check can check [d7686e9](https://github.com/UUPharmacometrics/xpose/commit/d7686e99f1ef2a6a0bd16beb21d1372a43af5e55) and see if that solves this issue for you?

[2019-10-16 00:38] billdenney commented on #140
FYI, drake can now have all files in a directory as a dependency.  If you do `file_in()` with a directory name, it will include all files in the directory.  Also, as I’ve learned, drake’s file handling is more static, so I don’t know that this will work directly with drake right now.

(I still think that there is value in this feature, but it won’t work in drake due to limitations on that side rig

[2019-10-16 19:39] billdenney opened #170 "Feature Request: Support for Bootstrap?"
The title is probably self-explanatory:  Do you have an interest in supporting PsN boostrap raw_results outputs?  Ideally, this could be where the PsN code supporting graphics for bootstrap results would reside.

[2019-10-16 19:57] billdenney commented on #169
A simple way to do this without additional options is the following:

[code]

[2019-10-17 16:58] billdenney commented on #97
I'll try to check this soon.  (I'm about to be off to ACoP, but hopefully I can check when I get back.)

[2019-11-03 02:01] billdenney commented on #97
I just tried the `dev` branch (not just the specific patch), but I was getting what appeared to be unrelated errors.  Are you switching the class name away from `xpose_data` to `xpdb`?  The errors appeared to be related to that.

[2019-11-03 10:09] guiastrennec commented on #97
The dev branch is under heavy development and is not currently functional, I am reworking the entire structure of the xpdb, adding S2, improve traceability, and bring new features. I got all the PR notifications but I need to get everything back on track before merging them.

[2019-11-03 15:09] billdenney commented on #97
Thanks for that update.  I need most of those PRs for some of my current projects that I’m updating.  I’m going to add another couple of PRs that will make it functional for my projects, and hopefully they will be helpful to your efforts.

[2019-11-20 14:35] billdenney opened #174 "Feature Request: F_FLAG Tracking"
When making a model where `F_FLAG` is used, it would be helpful to track the use of `F_FLAG` by a new variable type.  Then figures could be generated with that in mind.  Specifically, DV vs PRED and residual plots should be differently formatted when `F_FLAG` is 1.

If this is of interest, I can give some more details of the different figures that I think would help.  And, the feature should be po

[2019-11-29 09:10] AnhDucPham commented on #110
Hi,
I have over 200 plots and got the same issue with the ordering. I did padding the factor level of $strat with '00' in vpc_dat, aggr_obs, obs by formatC().
Hope it can help.

[2020-03-12 18:20] va173 opened #176 "xpose"
I am **very new to using Xpose** . I am using a cloud based platform for running my nonmem code
can i still use expose for plotting my table?
If yes, can literally ask xpose to read my csv files?
xpdb <- read.csv ('C:/xpose/data/analysis/model/PK.csv')?
or how should the format be for downloaded files ?

These are the only files i was able to download from the plat form
![Capture](https://user-ima

[2020-03-15 22:14] guiastrennec commented on #176
Hello,
I invite you to read the introduction documentation of xpose [here](https://uupharmacometrics.github.io/xpose/articles/introduction.html) and [here](https://uupharmacometrics.github.io/xpose/articles/import_model_outputs.html). Hopefully this will help you to better understand how xpose works.

Now looking at your specific problem you would probably need something like this to import the NO

[2020-03-15 22:14] #176 closed

[2020-03-16 17:08] va173 commented on #176
Thank you Benjamin
i tried your approach
however this is the error message
Warning messages:
1: No tidyselect variables were registered

On Sun, Mar 15, 2020 at 3:15 PM Benjamin <notifications@github.com> wrote:

--
Cheers,
Vaishnavi

[2020-03-16 22:15] guiastrennec commented on #176
@va173 this looks like an error that had occured following the recent update of `tidyr`. It should have been fixed, please ensure that you have the latest `xpose` version installed (v0.4.7).

[2020-03-16 22:26] va173 commented on #176
thank you

On Mon, Mar 16, 2020 at 3:15 PM Benjamin <notifications@github.com> wrote:

--
Cheers,
Vaishnavi

[2020-03-16 22:27] guiastrennec commented on #176
No problem, hope it solved your issue!
Best of luck

[2020-03-16 22:34] va173 commented on #176
Hi Benjamin
i actually started using the XPOSE program on R instead of R studio
my report files are not"looking" like the report files that typically are
spit out by NONMEM , i am using a web based platform for getting my NONMEM
results
When using R, i am able to get some plots not all - that could very well be
because of my table formats

FYI - i am using KIWI from Cognigen

On Mon, Mar 16, 2020

[2020-03-16 22:38] guiastrennec commented on #176
@va173 I am not familiar with the table format generated by KIWI. If you send me a small anonymized example I can look into it (you can use my gmail address as shown on my github account)

[2020-06-06 17:12] Mutaz94 opened #182 "libPath_only not defined"
Hi! I always get the error that libPath_only=TRUE is not defined. Is there any way to fix it?

[2020-06-07 21:56] guiastrennec commented on #182
Hi @Mutaz94, please start by updating xpose to the latest verion. If the bug persists please add a reproducible. It is otherwise not possible for me to help you.

[2020-06-08 21:33] Mutaz94 commented on #182
I think this is xpose4 issue. Sorry for the confusion. I did update xpos4, and xpose. This problem persists when using the templates generated by `-rplots=1` and the Error I get is:
`
Error in R_info(directory = working.directory, only_libPaths = T) :
  unused argument (only_libPaths = T)
`

When I do delete only_libPaths=T . it works, but I don't think this is the best practice to do?

[2020-06-08 22:15] guiastrennec commented on #182
I am sorry I am not familiar with this code, I recommend that you open an issue on [xpose4](https://github.com/UUPharmacometrics/xpose4/issues) or from the option `-rplots=1` I am guessing you are using PsN so you may also open an issue in the [PsNR](https://github.com/UUPharmacometrics/PsNR/issues) repo.

[2020-06-08 22:15] #182 closed

[2020-07-16 06:55] romainfrancois opened #184 "test failure with dplyr 1.0.1"
We're seeing these test failures when testing `xpose` against dplyr 1.0.1, to be released very soon:

[code]

I haven't yet looked in details.

[2020-07-21 09:56] #184 closed

[2020-09-03 14:46] HuixiZou opened #186 "change the span value for plot"
Hi,

I am wondering if it possible to change the span value in xpose?
I noticed that the code `smooth_method="lm"` could be used to customize the plots and make the line smoother. But I want to know if it possible to directly change the span value to customize the plots?

Thanks a lot!

[2020-09-04 06:55] guiastrennec commented on #186
Hello,

Yes all options available in the different geoms are available automatically in xpose. For the geom_smooth layer simply append "smooth_" in front of the argument name in your case simply use "smooth_span = 0.75" and it should work. In general you can see the names associated to the different geoms in the help of the xpose plot functions.

Best,

Benjamin

[2020-09-06 07:37] HuixiZou commented on #186
Many Thanks!

[2020-09-24 16:29] justin-penz opened #187 "Plotting a subset of data from PsN using vpc() and vpc_data()"
Hi, is there a functionality to plot only a subset of data in a VPC, similar to, e.g., xpdb %>% filter(group = T) %>% ind_plots(page=1)?

Thank you,
Justin Penzenstadler

[2020-09-24 19:08] #186 closed

[2020-09-24 19:11] guiastrennec commented on #187
Hi,

There are several possibilities:
1) If you do not use the `psn_folder` option you can as you pointed out use the `filter()` function on the `xpdb` to remove data that you do not wish to include in the VPC plot.
2) As you also pointed out you could play with the `page` argument, for example with `vpc(nrow = 1, ncol = 1, page = <selected pages>)` where `<selected pages>` is a vector of the pane

[2020-09-24 19:11] #187 closed

[2020-10-01 16:42] justin-penz commented on #187
Thank you Ben.  This was very helpful.
Best, Justin

[2020-12-30 12:34] billdenney opened #188 "Feature Request: logLik method"
I was wanting to compare two models using AIC, so I needed a logLik function.  Here it is in case you think it would help:

[code]

[2021-01-12 10:14] guiastrennec commented on #188
Hi @billdenney, happy new year! Thanks a lot for the snippet, I have a lot on my plate at the moment but I would definitively consider to include this function into future versions of xpose.
Best

[2021-01-18 20:29] billdenney commented on #158
I know that this is not of interest for package inclusion, but I needed them today, so I wrote the tidy function.  Here it is in case someone else needs it (also including the `coef` and `vcov` methods from #141):

[code]

[2021-01-28 10:13] NilsJohan opened #190 "xpose 0.4.12, vpc"
I have used PsN 5.0.0. to run a VPC  and use the output to generate a plot via xpose 0.4.12 based on the following code:

setwd("C:/.../FP_sham_model_VPC_SIM3")
  vpc_data(xpdb,psn_folder = "vpc_dir6")%>%
  vpc()

The automatically generated R-plot via PsN extend simulations to include the last data point (1), whereas the plot generated via xpose 0.4.12 using the PsN output ends between the last a

[2021-01-28 10:27] #190 closed

[2021-01-28 10:38] NilsJohan opened #191 "xpose 0.4.12, vpc"
I have used PsN 5.0.0. to run a VPC and the output to generate a plot via xpose 0.4.12, based on the following code:

setwd("C:/..../FP_sham_model_VPC_SIM3")

 vpc_data(xpdb,psn_folder = "vpc_dir6")%>%
  vpc()

The automatically generated R-plot via PsN extend simulations to include the last data point (1), whereas the plot generated via xpose 0.4.12 using the PsN output ends between the last and

[2021-01-28 12:08] smouksassi commented on #190
from above you want to edit how the binning is done by default it connects to the middle of the last bin between 40 and 50
( you can also do lot of other things including different binning algorithm by strata using https://github.com/certara/tidyvpc

[2021-01-28 17:57] NilsJohan commented on #191
I found a way to manually specify time points in my data set, the number of which in my example was the same as the number of bins:

   vpc_data(xpdb,
            psn_folder = "vpc_dir6",
            opt=vpc_opt(bins = c(0.055,0.125,0.21,0.29,0.415,0.625,0.875,1.25,1.75,2.5,3.5,5,7,10,18,30,42,54),
             n_bins = "18"))%>%
   vpc()

[2021-01-28 17:57] #191 closed

[2021-04-18 05:41] tonggne opened #192 "add horizontal line at 0 for CWRES v.s IPRED"
Hello xpose developer,
I am using xplot_scatter to create CWRES v.s IPRED plot (see below), but do not know how to add the horizontal line at 0. The guide = TRUE is only for the line of unity.

CWRES_vs_IPRED<-xpdb %>%
  filter(BLQ == 0) %>%
  xplot_scatter(aes(x = IPRED, y = CWRES), title = "CWRES v.s IPRED", subtitle = runno, caption = NULL)

Thanks a lot
Tong

[2021-04-19 19:42] guiastrennec commented on #192
Hello,

All xpose plots are ggplot2 objects meaning that you can customize them as you wish with ggplot2 layers. For example
[code]

[2021-04-19 19:42] #192 closed

[2021-05-18 09:54] thomasp85 opened #193 "Issues with next version of ggplot2"
Hi

We are preparing the next release of ggplot2 and our tests show issues with xpose. Specifically we have changed the signature of ggsave has changed (there are additional units options) and your forwarding of arguments in `xpose_save()` now fails.

We plan to submit the next version of ggplot2 to CRAN on May 31st

best
Thomas

[2021-05-18 13:23] andrewhooker commented on #193
Hi Thomas,

Thanks.  We will try to get a fix in place before that.  Thanks for the heads-up!

Best regards,
Andy

[2021-05-27 20:32] #193 closed

[2021-07-28 14:13] UNCcrawler opened #195 "xpose didn't recognize all ETAs when interoccasion variability was used"
Hi, I am using get_data() to read the nonmem output. I have five ETAs but get_data() only read four. I confirmed that ETA5 was in the patab output and not all zero. Similarly, ETA5 was dropped in eta_distrib(). I noticed that this only occurs when I am using interoccasion variability.
Could you please suggest what could be possibly wrong? Of course, I can directly read the patab file as a workarou

[2021-08-02 11:03] guiastrennec commented on #195
Hello, the `get_data()` function should not drop any column it is only a convenience function which returns the aggregated data from the xpdb. Would it be possible for you to send me a reproducible example so that I could look into your issue?

[2021-08-14 02:52] UNCcrawler commented on #195
Hello, sorry for the late response. I am not able to send over the data due to confidentiality reason. I also moved away from that particular model and found out my other models with interoccasion variability work fine. Thank you for your time.

[2021-08-14 02:52] #195 closed

[2021-09-15 14:16] AndreasCalvagone opened #196 "Error in get_prm() when SAEM is the estimation method"
Hello, I was getting the following error when trying to produce a parameter table from an SAEM model:

[code]

The issue is that when using SAEM the the last column of the .ext file is called SAEMOBJ. This column is not excluded in the get_iter() function. I could simply patch this bug by correcting get_iter():

[code]

[2021-10-04 20:01] guiastrennec commented on #196
Thanks for reporting this issue and for the proposed fix, I will implement this in future releases!!

[2021-11-04 15:41] certara-jcraig opened #197 "Plot points with no-fill shape do not appear in Shiny"
Hello,

I have observed an issue when rendering xpose plots in Shiny. Points with no-fill shape do not appear, while points with fill shape do appear. Please note the issue only appears in shiny >= 1.7.0. Furthermore, when simply using ggplot2 library with no fill shapes, the points render as expected in Shiny.

[code]

Plotting points in ggplot2 with no-fill works as expected

[code]

[2021-11-07 20:12] guiastrennec commented on #197
Hello,
I believe you may simply solve this issue by adding using the `stroke` setting in xpose ([read more about stroke here](https://ggplot2.tidyverse.org/articles/ggplot2-specs.html#colour-and-fill-1)).

For better looking plot I have removed the stroke by default, while in ggplot2 by default points always have a stroke.

Hope it helps,

Ben

[2021-11-10 09:34] AndreasCalvagone opened #198 "files locked due to readr's lazy loading"
Hi,
since reader version 2.0.0 they changed the default argument of the readr functions (read_csv, read_lines, read_delim) to lazy=TRUE.
This is problematic since this 'lazy loading' means, at least on Windows computers, that the files are locked-up until you restart the R session. I find this a very annoying behavior while the benefit of lazy=TRUE will typical not materialize in our work.
I sugge

[2021-11-10 22:59] guiastrennec commented on #198
Hi Andreas,
I have never faced this issue. I agree to add `lazy = FALSE` in future releases as it does not make sense to have lazy loading in the xpdb.

In the meantime you could try to use `lazy = FALSE` in `xpose_data()` or `read_nm_tables()` since you can send options to readr via the `...` argument.

[2021-11-11 07:21] AndreasCalvagone commented on #198
Hi Benjamin,
thank you for your response. Unfortunately, the `...` solution doesn't work. I believe it is because in `read_nm_tables()` the table files are first accessed with a call to `read_lines()` to read in the first 3 lines before, later on, the whole dataset is then read with `read_args().`
The `...` is not passed on to the `read_lines()` function.
I have seen that the developers of readr a

[2022-03-02 00:46] tonggne opened #199 "left_join or mutate for new variables"
Hello Xpose developer, is there a way to bring new variables into xpose_data object? for example, I forgot including certain variable in the .tab output and would like to bring it from the .csv file using left_join or mutate.

Thanks a lot!
Tong

[2022-03-02 18:17] ldbro0 commented on #199
To add to @tonggne comment it would also be good to see if you could add an external `tbl_df` object to your `xpose` obj.  For example you forget to table a variable in a nm run, you could read your nm run into R via expose extract the data object edit it and re-add it to the xpose object for plotting purposes.

Example Below:
[code]

[2022-03-14 20:38] guiastrennec commented on #199
Hello,
The implementation of the  `xxx_join()` family is on the todo list. I would be something similar to what @ldbro0 is suggesting, although there are some subtleties I still need to figure out (i.e., it is not as straight forward as it seems).

Best,

Ben

[2022-03-14 21:22] tonggne commented on #199
Thanks Ben for the information. Looking forward to it!

Best,
Tong

On Mon, Mar 14, 2022 at 1:39 PM Benjamin ***@***.***> wrote:

[2022-03-14 22:16] ldbro0 commented on #199
@guiastrennec thanks for the example, I'm curious if PR #153 is another approach?

[2022-03-17 21:37] rfaelens opened #200 "NMTRAN vs NM-TRAN"
In https://github.com/UUPharmacometrics/xpose/blob/3e67b397a495f92d22a4fc492fb78457b2577c75/R/read_nm_model.R#L100, the code searches for the magic string `NM-TRAN MESSAGES`.

Some software uses `NMTRAN MESSAGES` instead (note absence of the hyphen).

The package would be much more flexible if all magic strings can be put into an option. That way, I could simply execute
`options(xpose.magic.nmtran

[2022-03-18 13:07] guiastrennec commented on #199
@ldbro0 the PR #153 aims to get rid of step 5. in the example above by preserving the _xpdb_data_ class

[2022-03-18 13:10] guiastrennec commented on #200
Thanks for the input @rfaelens. Do you expect many more variations of _NMTRAN_ vs _NM-TRAN_? If not I would simply add the hyphen as optional in the regular expression.

[2022-03-18 18:19] rfaelens commented on #200
I do not expect any other variations; what you propose would also work.

[2022-05-23 15:47] PerOG7 opened #201 "VPC for log TBS data"
Hi Developers,

Is there a way for doing VPCs on models with log transform-both-sides residual error models, so that the non-transformed data is plotted, i.e. consistent with the lnDV=1 flag in PsN?

Kind Regards,
Per

[2022-05-24 06:57] guiastrennec commented on #201
Hello,

There is currently no built-in feature to transform the data in VPCs as in PsN `lnDV=x`.

You could try to point xpose to the original DV (i.e., non-log transformed) rather than the log transformed one? (note: this assumes that your original DV is in your observation and simulation tables).
[code]

If you don't have the original DV in the output tables you could transform it using:
[code]

[2022-05-24 08:19] PerOG7 commented on #201
Thanks!
Per

On Tue, 24 May 2022, 07:57 Benjamin, ***@***.***> wrote:

[2022-06-05 15:05] mark0935git opened #202 "How to read OMEGA - COV MATRIX FOR RANDOM EFFECTS - ETAS"
Dear XPOSE developer,

get_prm() and prm_table read "OMEGA - **CORR** MATRIX FOR RANDOM EFFECTS - ETAS" rather than "OMEGA - **COV** MATRIX FOR RANDOM EFFECTS - ETAS" by default.

Is there a way to read OMEGA - **COV** MATRIX FOR RANDOM EFFECTS - ETAS using XPOSE functions?

Thanks!

[2022-08-02 13:55] AdamD-Mirati opened #203 "Parameters read in as na"
list_vars(xpdb_001)
[code]
Is there a way to ensure that the parameters are read in properly?

[2022-08-06 12:54] faisalhhu commented on #106
Hi I have a similar question
I have dataset with CMT column for compartment. I want to startify based on pediatric age groups. So in the data I coded the age groups as 1,2,3 and gave column name GRP.
Now when I run VPC Command using -stratify_on=c(CMT,GRP) or stratify_on=‘CMT’~’GRP’
It gives error with termination.

can you kindly help on what I am missing

thanks
Faisal

[2022-08-08 17:39] faisalhhu opened #204 "Vpc stratification based on multiple variable"
Hi I have a question
I have dataset with CMT column for compartment. I want to startify based on pediatric age groups. So in the data I coded the age groups as 1,2,3 and gave column name GRP.
Now when I run VPC Command using -stratify_on=c(CMT,GRP) or stratify_on=‘CMT’~’GRP’
It gives error with termination.

can you kindly help on what I am missing.

thanks
Faisal

[2022-10-10 07:17] thomasp85 opened #205 "Issues with next version of ggplot2"
Hi

We preparing the next release of ggplot2 and our reverse dependency checks show that your package is failing with the new version. Looking into it we see that this is due to changes in the warnings and errors thrown by ggplot2 that you test for in your package

You can install the release candidate of ggplot2 using `devtools::install_github('tidyverse/ggplot2@v3.4.0-rc')` to test this out.

We

[2022-10-10 16:52] pmpharm opened #206 "Lines showing the percentiles for both the observations and the predictions"
According to the recommendations of the Model Evaluation Group of the International Society of Pharmacometrics (ISoP) Best Practice Committee (https://pubmed.ncbi.nlm.nih.gov/27884052/ ), it is suggested that a VPC should have lines showing the percentiles of both observations and predictions. This is important so the percentiles can be compared visually in order to compare the distribution of obs

[2022-10-10 17:41] andrewhooker commented on #206
Hi,

I believe that all of the plots in Figure S8 of the paper you reference can be created by xpose, which uses the VPC package. Please see:
https://uupharmacometrics.github.io/xpose/articles/vpc.html
http://vpc.ronkeizer.com/appearance.html

Best regards,
Andy

[2022-10-10 18:08] smouksassi commented on #206
I was a co-author on the MOEV paper and at the time the code of the paper was in the supplemental materials available online
(pure from the ground up ggplot2 nothing special, I take good care of informative legends)

later on I co-wrote tidyvpc https://github.com/certara/tidyvpc (where all computation are efficiently done using data.table)
I support observation level LLOQ (e.g. different loq by st

[2022-10-21 14:43] #205 closed

[2022-10-21 15:27] guiastrennec commented on #206
Hi,

Appologies for the delay in my response. The representation of the medians for the simulated percentiles is not yet implemented in `xpose` but given the flexibility of offered by the package it is quite easy to add this layer yourself. I have generated a small example for you. I hope it helps.

[code]

![](https://i.imgur.com/Plb1ZHt.png)

<sup>Created on 2022-10-21 with [reprex v2.0.2](https

[2022-10-21 15:42] guiastrennec commented on #204
Hello,

The R package `xpose` is perfectly capable of handling up to 2 variables for stratification (see example below). The argument for stratification is `stratify` and not `stratify_on`.  Based on the look of your code I guess that you may have been referring to PsN code. Please know that as far as I know PsN does not handle more than one variable for the VPC stratification. I you want to use P

[2022-10-21 15:42] #204 closed

[2022-10-21 15:51] guiastrennec commented on #203
Hi,

Sorry for the delay on my answer. Yes to have your parameters read as parameters by default simply use the `$TABLE FILENAME=patab<runno>` naming convention from xpose4. The same goes for the categorical (catab) and continuous covariates (cotab).

However you do not have to rerun anything you could simply declare these to be parameters to `xpose` as follows:
_(Please note that DOSE and CPRED a

[2022-10-21 15:51] #203 closed

[2022-10-21 15:56] guiastrennec commented on #202
Hello,

Yes `xpose'`s strength is that it consolidates the NONMEM outputs into a tidy format i.e. the `xpdb`. From the xpdb you can access the content of the NONMEM tables, files and code.

I have created a small example to show you how you can access the files of interest for you:

[code]

<sup>Created on 2022-10-21 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-10-21 15:56] #202 closed

[2022-10-21 16:02] guiastrennec commented on #198
Hi,

Sorry for the time it took, but I am preparing a new release of `xpose` for compatibility issues with updates in the `tidyverse` and I was wondering if this is still an open issue?

It seems that the default behavior of `readr` has been pushed back to `lazy = FALSE`, and there is now the possibility to give global control over this argument with `options(readr.read_lazy = TRUE)`.

[2022-10-21 16:04] guiastrennec commented on #197
@certara-jcraig closing due to inactivity, please reopen if issue still occurs.

[2022-10-21 16:04] #197 closed

[2022-10-21 16:12] AdamD-Mirati commented on #203
Hi Ben,

Thanks for the reply! I talked to my boss and I actually figured out that it was due to the fact I was capitalizing my table files (ie, PATAB vs patab). I have since revised my table file names and have been able to generate the various parameter plots.

Sincerely,
Adam

Adam Dickinson, PharmD
Senior Scientist, Clinical Pharmacology | Mirati Therapeutics, Inc.
Mobile: 717-254-3022 | Direc

[2022-10-21 16:14] guiastrennec commented on #203
Glad to hear you were able to figure it out !

[2022-10-21 16:27] AndreasCalvagone commented on #198
Hi,
indeed since the default is `lazy=FALSE`, there is no problem anymore. Though you may want to implement a check of the global option and issue a warning message if you find `readr.read_lazy = TRUE`.

[2022-10-21 21:39] #198 closed

[2022-10-22 22:09] #95 closed